<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layouts/index}">
<head>
    <meta charset="UTF-8">
    <title>Đơn hàng</title>

</head>
<body>
<section class="shopping-cart spad" layout:fragment="content">
    <section class="breadcrumb-option mb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Danh sách đơn hàng
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row" th:object="${hoaDonDTO}">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã đơn</th>
                        <th scope="col">Người nhận</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Mã giảm giá</th>
                        <th scope="col">Tiền ship</th>
                        <th scope="col">Giá trị đơn hàng</th>
                        <th scope="col">Thành tiền</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col" colspan="2">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody th:each="item :*{listHoaDonDTO}">
                    <tr>
                        <th scope="row">[[${itemStat.index+1}]]</th>
                        <td>[[${item.maDonHang}]]</td>
                        <td>[[${item.nguoiNhan}]]</td>
                        <td>[[${item.sdtNguoiNhan}]]</td>
                        <td>
                            <th:block th:if="${item.tenKhuyenMai != null}">
                                [[${item.tenKhuyenMai}]]
                            </th:block>
                            <th:block th:if="${item.tenKhuyenMai == null}">
                                Không
                            </th:block>
                        </td>
                        <td>[[${item.tienShip}]]</td>
                        <td>[[${item.tongTienDonHang}]]</td>
                        <td>[[${item.tongTienHoaDon}]]</td>
                        <td>[[${item.ghiChu}]]</td>
                        <td><span th:class="${item.trangThai == 'Chờ xác nhận' ? 'text-primary' : 'text-secondary' }">[[${item.trangThai}]]</span>
                        </td>
                        <td>
                            <a class="btn btn-secondary"
                               th:href="@{|/customer/don-hang/chi-tiet-don-hang?maDonHang=${item.maDonHang}&page=1|}"
                               data-toggle="tooltip" title='Chi tiết đơn hàng'>
                                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <th:block th:if="${item.trangThai == 'Chờ xác nhận'}">
                            <td><a class="btn btn-danger" data-toggle="modal"
                                   th:attr="data-target='#huyDonHang'+${item.id}" title='Hủy đơn hàng'>
                                <i class="fa fa-ban" aria-hidden="true"></i></a>

                                <div class="modal fade bd-example-modal-sm" th:attr="id='huyDonHang'+${item.id}"
                                     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Xóa giỏ hàng</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <span>Bạn có chắc muốn hủy đơn hàng [[${item.maDonHang}]] ?</span>
                                            </div>
                                            <div class="modal-footer">
                                                <a type="button"
                                                   th:href="@{|/customer/don-hang/huy-don-hang?maDonHang=${item.maDonHang}&page=*{page}|}"
                                                   class="btn btn-success">Chấp nhận</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 offset-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{|/customer/don-hang?page=1|}" aria-label="First">
                                <span aria-hidden="true">Đầu tiên</span>
                            </a></li>
                        <li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link"
                                                                                           th:href="@{|/customer/don-hang?page=*{page - 1}|}"
                                                                                           aria-label="Previous"> <span
                                aria-hidden="true">Quay lại</span>
                        </a></li>
                        <th:block th:if="*{totalPages <= 10}">
                            <li th:each="i :*{#numbers.sequence(1,totalPages)}"
                                th:class="${hoaDonDTO.page != i ? 'page-item' : 'page-item disabled'}"><a
                                    class="page-link"
                                    th:href="@{|/customer/don-hang?page=${i}|}">[[${i}]]</a></li>
                        </th:block>
                        <th:block th:if="*{totalPages > 10}">
                            <th:block th:if="*{page <= 5 || page  > totalPages - 4}">
                                <li th:each="i :*{#numbers.sequence(1,5)}"
                                    th:class="${hoaDonDTO.page != i  ? 'page-item' : 'page-item disabled'}">
                                    <a class="page-link" th:href="@{|/customer/don-hang?page=${i}|}">[[${i}]]</a></li>
                                <a class="page-link" th:href="@{|/customer/don-hang?page=6|}">....</a>
                                <li th:each="i :*{#numbers.sequence(totalPages - 4,totalPages)}"
                                    th:class="${donHangDTO.page != i  ? 'page-item' : 'page-item disabled'}">
                                    <a class="page-link" th:href="@{|/customer/don-hang?page=${i}|}">[[${i}]]</a></li>
                            </th:block>
                        </th:block>
                        <li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{|/customer/don-hang?page=*{page + 1}|}" aria-label="Next">
                                <span aria-hidden="true">Đi tiếp</span>
                            </a></li>
                        <li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{|/customer/don-hang?page=*{totalPages}|}" aria-label="Next">
                                <span aria-hidden="true">Cuối cùng</span>
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <th:block th:if="${maDonHang != null}">
        <div class="container">
            <div class="row pt-5" th:object="${hoaDonChiTietDTO}">
                <div class="col-md-12">
                    Chi tiết đơn hàng [[${maDonHang}]]
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Chất liệu</th>
                            <th scope="col">Kiểu dáng</th>
                            <th scope="col">Thể loại</th>
                            <th scope="col">Phong cách</th>
                            <th scope="col">Kích cỡ</th>
                            <th scope="col">Màu sắc</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Tổng tiền</th>
                        </tr>
                        </thead>
                        <tbody th:each="item :*{listHoaDonChiTietDTO}">
                        <tr>
                            <th scope="row">[[${itemStat.index+1}]]</th>
                            <td>[[${item.sanPhamChiTietDTO.sanPhamDTO.tenSanPham}]]</td>
                            <td>[[${item.donGia}]]</td>
                            <td>[[${item.soLuong}]]</td>
                            <td>[[${item.sanPhamChiTietDTO.sanPhamDTO.tenChatLieu}]]</td>
                            <td>[[${item.sanPhamChiTietDTO.sanPhamDTO.TenKieuDang}]]</td>
                            <td>[[${item.sanPhamChiTietDTO.sanPhamDTO.tenLoaiSanPham}]]</td>
                            <td>[[${item.sanPhamChiTietDTO.sanPhamDTO.tenPhongCach}]]</td>
                            <td>[[${item.sanPhamChiTietDTO.tenKichCo}]]</td>
                            <td>[[${item.sanPhamChiTietDTO.tenMauSac}]]</td>
                            <td>[[${item.sanPhamChiTietDTO.sanPhamDTO.moTa}]]</td>
                            <td>[[${item.tongTien}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:if="${maDonHang != null}">
        <div class="container">
            <div class="row pt-5" th:object="${hoaDonChiTietDTO}">
                <div class="col-md-12">
                    Timeline đơn hàng [[${maDonHang}]]
                </div>
            </div>
        </div>
    </th:block>
</section>
</body>
</html>