<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index}">

<head>
    <meta charset="UTF-8">
    <title>Bán hàng tại quầy</title>
    <link rel="stylesheet" th:href="@{/admin/css/banHang/banHangTaiQuay.css}">
    <script th:src="@{/admin/js/banHang/banHangTaiQuay/banHang.js}"></script>
</head>

<body>
<div class="container" layout:fragment="content">

    <div class="button-group">
        <button class="action-button" onclick="quayLai()">Danh sách
            <i class="fas fa-arrow-left"></i>
        </button>

        <button type="submit" class="btn btn-primary" data-toggle="modal" th:data-target="'#modalSanPham'">
            <i class="fas fa-fw fa-shopping-cart"></i>
            Thêm sản phẩm
        </button>
        <div class="modal fade" th:id="'modalSanPham'" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                    </div>
                    <div class="modal-body">

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" th:id="'modalChiTiet'" tabindex="-1" aria-labelledby="exampleModalLabel-spct"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel-spct">Chi tiết sản phẩm</h5>
                    </div>
                    <div class="modal-body">

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="hdct : ${hoaDon.hoaDonChiTiets}">
            <td></td>
            <td
                    th:text="${hdct.sanPhamChiTiet.sanPham.getTenSanPham()}">
            </td>
            <td th:text="${hdct.donGia}"></td>
            <td th:text="${hdct.soLuong}"></td>
            <td th:text="${hdct.tongTien}"></td>
        </tr>

        <tr th:if="${hoaDon.hoaDonChiTiets.isEmpty()}">
            <td colspan="5">
                <div class="empty-content">
                    <img src="/admin/img/gioHangTrong.png" alt="Không có sản phẩm">
                    <p class="empty-message">Không có sản phẩm nào trong giỏ hàng</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>thanh toán</h3>
</div>
</body>
</html>