<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/admin/css/banHang/banHangTaiQuay.css}">
    <script th:src="@{/admin/js/banHang/banHangTaiQuay/banHang.js}"></script>
</head>

<body>
<div class="container" layout:fragment="content">
    <div th:object="${hoaDon}">
        <h1 th:text="${hoaDon.maDon}"></h1>
    </div>

    <h3>Danh sách sản phẩm</h3>
    <button type="submit" class="btn btn-primary" data-toggle="modal"
            data-target="#modalThemSanPhanm" onclick="showModal()">Thêm sản phẩm</button>

    <div class="modal fade" id="modalThemSanPhanm" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lịch sử hóa đơn</h5>
                </div>
                <div class="modal-body1" id="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="hdct : ${hoaDon.hoaDonChiTiets}">
            <td></td>
            <td
                    th:text="${hdct.sanPhamChiTiet.sanPham.getTenSanPham()}">
            </td>
            <td th:text="${hdct.donGia}"></td>
            <td th:text="${hdct.soLuong}"></td>
            <td th:text="${hdct.tongTien}"></td>
        </tr>
        </tbody>
    </table>

    <h3>thanh toán</h3>

    <button class="action-button" onclick="quayLai()">Quay lại
        <i class="fas fa-arrow-left"></i>
    </button>
</div>
</body>
</html>