<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index}">

<head>
    <meta charset="UTF-8">
    <title>Bán hàng tại quầy</title>
    <link rel="icon" href="path_to_icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/admin/css/banHang/banHangTaiQuay.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script th:inline="javascript">
        $(document).ready(function () {
            $('.HuyDonDanhSach').click(function () {
                let hoaDonId = $(this).data('id');
                let modalId = $(this).data('target');

                $(modalId).modal('show');

                $(modalId + ' .btn-dong-y').click(function () {
                    $.get('/HuyDon/' + hoaDonId, function (response) {
                        Swal.fire({
                            icon: 'success', title: 'Đã hủy hóa đơn thành công', showConfirmButton: false, timer: 2000
                        }).then(function () {
                            sessionStorage.setItem('isConfirmed', true);
                            window.location.href = "/admin/BanHangTaiQuay";
                        });
                    });

                    $(modalId).modal('hide');
                });

                $(modalId + ' .btn-khong').click(function () {
                    // Đóng modal
                    $(modalId).modal('hide');
                });
            });
        });
    </script>

</head>

<body>
<div class="container-fluid" layout:fragment="content">
    <div class="button-container">
        <!--TÌM KIẾM HÓA ĐƠN-->
        <div>
            <input type="text" class="timKiem" placeholder="Tìm kiếm đơn hàng..." aria-label="Search"
                   aria-describedby="basic-addon2">
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <!--TẠO HÓA ĐƠN-->
        <form id="form-tao-moi" th:action="@{/TaoHoaDon}" method="post">
            <button type="submit" class="create-invoice-button">
                <i class="fas fa-plus"></i> Tạo hóa đơn
            </button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Mã đơn</th>
                <th>Số sản phẩm</th>
                <th>Tổng số tiền</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="hoaDonTaiQuay, stt: ${danhSachBanHang}">
                <td th:text="${(page - 1) * size + stt.count}"></td>
                <td th:text="${hoaDonTaiQuay.maDon}"></td>
                <td th:text="${hoaDonTaiQuay.hoaDonChiTiets.?[daXoa == false].size()}"></td>
                <td th:text="${#numbers.formatDecimal(hoaDonTaiQuay.tongTienHoaDon, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
                <td th:text="${#dates.format(hoaDonTaiQuay.ngayTao, 'dd/MM/yyyy')}"></td>
                <td th:text="${hoaDonTaiQuay.trangThai.name}"></td>
                <td>
                    <div class="btn-group">
                        <a th:href="@{'/banHang/' + ${hoaDonTaiQuay.id}}"
                           class="btn btn-warning btn-sm"
                           type="submit">
                            <i class="fas fa-info-circle"></i>
                        </a>

                        <button type="submit" class="primary-btn HuyDonDanhSach" th:attr="data-id=${hoaDonTaiQuay.id}"
                                th:data-target="'#modalHuyDonDanhSach-' + ${hoaDonTaiQuay.id}">
                            <i class="fas fa-times"></i> Hủy đơn
                        </button>

                        <div class="modal fade HuyDonDanhSacha" th:id="'modalHuyDonDanhSach-' + ${hoaDonTaiQuay.id}" tabindex="-1" aria-labelledby="HuyDonDanhSachModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="HuyDonDanhSachModalLabel">Xác nhận hủy hóa đơn</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Xác nhận hủy hóa đơn?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary btn-dong-y">Đồng ý</button>
                                        <button type="button" class="btn btn-secondary btn-khong"
                                                data-bs-dismiss="modal">Không
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="primary-btn thanhToanBanTaiQuay" th:attr="data-id=${hoaDonTaiQuay.id}">
                            <i class="fas fa-dollar-sign"></i> Thanh toán
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${!#lists.isEmpty(danhSachBanHang)}">
            <ul class="pagination">
                <li th:each="pageNumber : ${#numbers.sequence(1, pageDanhSachBanHang)}">
                    <a th:href="@{/admin/BanHangTaiQuay(page=${pageNumber})}" th:text="${pageNumber}"
                       th:class="${pageNumber == page ? 'active-page' : ''}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script th:src="@{/admin/js/banHang/banHangTaiQuay/danhSach.js}"></script>


</body>

</html>
