<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Hình ảnh</th>
            <th scope="col">ID</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá sản phẩm</th>
            <th>Thao tác</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="sanPhamlist: ${sanPham}">
            <td th:text="${sanPhamlist.id}"></td>
            <td th:text="${sanPhamlist.id}"></td>
            <td th:text="${sanPhamlist.tenSanPham}"></td>
            <td th:text="${sanPhamlist.gia}"></td>
            <td>
                <h3>Thêm sản phẩm -> Hiển thị ra modal chọn sản phẩm chi tiết</h3>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
