<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index}">

<head>
    <meta charset="UTF-8">
    <title>Chi tiết hóa đơn</title>
    <link rel="stylesheet" th:href="@{/admin/css/hoaDon/chiTietHoaDon/chiTietHoaDon.css}">
    <script th:src="@{/admin/js/hoadon/ChiTietHoaDon/CTChoGiaoHang.js}"></script>
</head>

<body>
<div class="container-fluid" layout:fragment="content">
    <h1>CHI TIẾT HÓA ĐƠN</h1>

    <div th:object="${hoaDon}">
        <p>Mã đơn: <span th:text="${hoaDon.maDon}"></span></p>
        <p>Ngày tạo: <span th:text="${#dates.format(hoaDon.ngayTao, 'dd/MM/yyyy')}"></span></p>
        <p>Tên khách hàng: <span th:text="${hoaDon.khachHang.hoTen}"></span></p>
        <table class="table">
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="hdct : ${hoaDon.hoaDonChiTiets}">
                <td></td>
                <td
                        th:text="${hdct.sanPhamChiTiet.sanPham.getTenSanPham()}">
                </td>
                <td th:text="${hdct.donGia}"></td>
                <td th:text="${hdct.soLuong}"></td>
<!--                <td th:text="${hdct.tongTien}"></td>-->
                <td th:text="${#numbers.formatDecimal(hdct.tongTien, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
            </tr>
            </tbody>
        </table>

        <p>Tổng tiền:
<!--            <span th:text="${hoaDon.tongTienDonHang}"></span>-->
            <td th:text="${#numbers.formatDecimal(hoaDon.tongTienHoaDon, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
        </p>
    </div>

    <!--    TIME LINE-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="hori-timeline" dir="ltr">
                            <ul class="list-inline events">
                                <li class="list-inline-item event-list" th:each="giaoDich1 : ${timeLineChoXacNhan}">
                                    <div class="px-4">
                                        <div class="event-date bg-soft-primary text-primary"><span
                                                th:text="${#dates.format(giaoDich1.ngayTao, 'dd/MM/yyyy')}"></span>
                                        </div>
                                        <h5 class="font-size-16">Chờ xác nhận</h5>
                                        <p class="text-muted">Thao tác: Tạo đơn hàng</p>
                                        <p class="text-muted">Người tạo đơn: <span
                                                th:text="${giaoDich1.nguoiTao}"></span>
                                        </p>
                                    </div>
                                </li>
                                <li class="list-inline-item event-list" th:each="giaoDich : ${timeLineChoGiaoHang}">
                                    <div class="px-4">
                                        <div class="event-date bg-soft-success text-success"><span
                                                th:text="${#dates.format(giaoDich.ngayTao, 'dd/MM/yyyy')}"></span></div>
                                        <h5 class="font-size-16">Chờ giao hàng</h5>
                                        <p class="text-muted">Thao tác: Giao hàng cho đơn vị vận chuyển</p>
                                        <p class="text-muted">Người thao tác: <span
                                                th:text="${giaoDich.nguoiTao}"></span>
                                        </p>
                                    </div>
                                </li>
                                <li class="list-inline-item event-list">
                                    <div class="px-4">
                                        <div class="event-date bg-soft-success text-success">Không</div>
                                        <h5 class="font-size-16">Đang giao hàng</h5>
                                        <p class="text-muted">Thao tác: Giao hàng cho đơn vị vận chuyển</p>
                                        <p class="text-muted">Người thao tác: Không có dữ liệu</span></p>
                                    </div>
                                </li>
                                <li class="list-inline-item event-list">
                                    <div class="px-4">
                                        <div class="event-date bg-soft-success text-success">Không</div>
                                        <h5 class="font-size-16">Đã giao hàng</h5>
                                        <p class="text-muted">Đơn hàng đã được giao</p>
                                    </div>
                                </li>
                                <li class="list-inline-item event-list">
                                    <div class="px-4">
                                        <div class="event-date bg-soft-success text-success">Không</div>
                                        <h5 class="font-size-16">Đơn hàng bị hủy</h5>
                                        <p class="text-muted">Thao tác: Hủy đơn hàng</p>
                                        <p class="text-muted">Người thao tác: Không có dữ liệu</span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-group">
        <button class="action-button GiaoHang" th:attr="data-id=${hoaDon.id}">Giao hàng
            <i class="fas fa-truck"></i>
        </button>
        <br>
        <div class="modal fade giaoHangModal" tabindex="-1" aria-labelledby="giaoHangModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="giaoHangModalLabel">Xác nhận đơn</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Xác nhận giao hàng cho đơn vị vận chuyển?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-dong-y">Đồng ý</button>
                        <button type="button" class="btn btn-secondary btn-khong"
                                data-bs-dismiss="modal">Không
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button class="action-button" onclick="quayLai()">Quay lại
            <i class="fas fa-arrow-left"></i>
        </button>
    </div>
</div>
</body>

</html>







