<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/index}">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
<title>Danh sách khách hàng</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="content" th:object="${khachHangDTO}">
		<h1 class="h3 mb-2 text-gray-800">QUẢN LÝ KHÁCH HÀNG</h1>
		<th:block th:if="${message == 'change_success'}">
			<h1 class="h3 mb-2 text-gray-800 ">
				<span class="text-success">Chuyển đổi thành công !</span>
			</h1>
		</th:block>
		<th:block th:if="${message == 'change_error'}">
			<h1 class="h3 mb-2 text-gray-800 text-danger">
				<span class="text-danger">Bạn chưa chọn khách hàng !</span>
			</h1>
		</th:block>
		<th:block th:if="${message == 'error_system'}">
			<h1 class="h3 mb-2 text-gray-800 text-danger">
				<span class="text-danger">Lỗi hệ thống !</span>
			</h1>
		</th:block>
		<th:block th:if="${message == 'delete_address_success'}">
			<h1 class="h3 mb-2 text-gray-800 ">
				<span class="text-success">Danh sách địa chỉ khách hàng đã được cập nhật !</span>
			</h1>
		</th:block>
		<!-- Page Heading -->
		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<div class="row">
					<div class="col-md-2">
						<h6 class="m-0 font-weight-bold text-primary">Dữ liệu khách hàng</h6>
					</div>
					<form th:action="@{/admin/khach-hang/danh-sach}" method="POST" id="formTrangThai" class="col-md-6">
						<div class="row">
							<div class="col-md-4">
								<select class="custom-select" id="trangThaiSelect" onchange="fun()">
									<option value="2">Tất cả</option>
									<option value="1">Đang hoạt động</option>
									<option value="0">Ngừng hoạt động</option>
								</select> 
								<input type="hidden" name="trangThai" id="trangThai" value="">
								<input type="hidden" name="soDienThoai"  th:value="${soDienThoai}">
							</div>
							<p class="pt-1">Hiển thị :</p>
							<div class="col-md-2">
								<select class="custom-select" id="limitSelect"  onchange="fun()">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option value="40">40</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select> 
								<input type="hidden" name="limit" id="limit" value="">
							</div>
							<p class="pt-1">Phần tử</p>
							<div class="col-md-2">
								<button type="submit" id="loc" class="btn btn-outline-primary" title="Lọc" disabled="true">Lọc</button>
							</div>
						</div>
					</form>
					<div class="col-md-4" >
						<div class="row">
							<div class="col-md-5">
								<div class="row">
									<div class="col-md-4">
											<button id="btnDelete" type="button" onclick="xacNhanChuyenDoiTrangThaiThanhHoatDong()" class="dt-button buttons-html5 btn btn-white btn-success btn-bold" data-toggle="tooltip" title='Đang hoạt động'>
												<span> <i class="fas fa-exchange-alt"></i>
												</span>
											</button>
									</div>
									<div class="col-md-4">
											<button id="btnDelete" type="button" onclick="xacNhanChuyenDoiTrangThaiThanhKhongHoatDong()" class="dt-button buttons-html5 btn btn-white btn-danger btn-bold" data-toggle="tooltip" title='Ngừng hoạt động'>
												<span> <i class="fas fa-exchange-alt"></i>
												</span>
											</button>
									</div>
									<div class="col-md-4">
											<a flag="info" th:href="@{/admin/khach-hang/danh-sach/chinh-sua}" 
											class="dt-button buttons-colvis btn btn-white btn-primary btn-bold" data-toggle="tooltip" title='Thêm bài viết'> 
											<span> 
												<i class="fa fa-plus-circle bigger-110 purple"></i>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12">
										<input class="form-control" type="number" id="soDienThoai" placeholder="Tìm kiếm theo số điện thoại">
										<input class="form-control" type="hidden" id="limitForSearch"  th:value="*{limit}" >
										<input class="form-control" type="hidden" id="trangThaiForSearch"  th:value="${trangThai}" >
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th><input type="checkbox" value="" id="checkAll" name="checkAll" /></th>
								<th>STT</th>
								<th>Email</th>
								<th>Mật khẩu</th>
								<th>Họ và tên</th>
								<th>Số điện thoại</th>
								<th>Trang thái</th>
								<th>Danh mục địa chỉ</th>
								<th></th>
							</tr>
						</thead>
						<tbody th:each="item : *{listKhachHangDTO}">
							<tr>
								<th:block th:if="${item != null}">
									<td><input type="checkbox" th:value="${item.id}" id="checkbox_${item.id}" /></td>
									<td>[[${itemStat.index}]]</td>
									<td>[[${item.email}]]</td>
									<td>[[${item.matKhau}]]</td>
									<td>[[${item.hoTen}]]</td>
									<td>[[${item.soDienThoai}]]</td>
									<td><th:block th:if="${item.trangThai == 1}">
											<span class="text-success">Đang hoạt động</span>
										</th:block> <th:block th:if="${item.trangThai == 0}">
											<span class="text-danger">Ngừng hoạt động</span>
										</th:block></td>
									<td>
										<div class="input-group mb-3">
											<th:block th:if="${item.listDiaChi != null and !item.listDiaChi.empty}">
													<select class="custom-select">
														<option th:each="itemDiaChi : ${item.listDiaChi}">
																		[[${itemDiaChi.diaChi}]]
														</option>
													</select>
											</th:block>
											<th:block th:if="${item.listDiaChi == null || item.listDiaChi.empty}">
													<select class="custom-select">
														<option >
																	Danh sách địa chỉ trống !
														</option>
													</select>
											</th:block>
										</div>
									</td>
									<td><a th:href="@{|/admin/khach-hang/danh-sach/chinh-sua?id=${item.id}&page=1|}" class="btn btn-outline-primary" title="Cập nhật"> <i class="fas fa-user-edit"></i>
									</a></td>
								</th:block>
								<th:block th:if="${item == null}">
									<span>Không có dữ liệu !</span>
								</th:block>
							</tr>
						</tbody>
					</table>
					<div>Tổng số khách hàng : [[*{totalItems}]] - Trang [[*{page}]] trong [[*{totalPages}]]</div>
					<div class="row">
						<div class="col-md-12 text-center offset-2">
							<th:block th:if="${trangThai == null && soDienThoai == null}">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/1|}" aria-label="First"> <span aria-hidden="true">Đầu tiên</span>
										</a></li>
										<li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/*{page - 1}|}" aria-label="Previous"> <span aria-hidden="true">Quay lại</span>
										</a></li>
										<th:block th:if="*{totalPages <= 10}">
											<li th:each="i :*{#numbers.sequence(1,totalPages)}" th:class="${khachHangDTO.page != i ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/${i}|}">[[${i}]]</a></li>
										</th:block>
										<th:block th:if="*{totalPages > 10}">
											<th:block th:if="*{page <= 5 || page > totalPages - 4}">
												<li th:each="i :*{#numbers.sequence(1,5)}" th:class="${khachHangDTO.page != i ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/${i}|}">[[${i}]]</a></li>
												<a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/6|}">....</a>
												<li th:each="i :*{#numbers.sequence(totalPages - 4,totalPages)}" th:class="${khachHangDTO.page != i ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/${i}|}">[[${i}]]</a></li>
											</th:block>
										</th:block>
										<li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/*{page + 1}|}" aria-label="Next"> <span aria-hidden="true">Đi tiếp</span>
										</a></li>
										<li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/*{totalPages}|}" aria-label="Next"> <span aria-hidden="true">Cuối cùng</span>
										</a></li>
									</ul>
								</nav>
							</th:block>
									<th:block th:if="${soDienThoai ==null}">
										<th:block th:if="${trangThai !=null}">
										<nav aria-label="Page navigation example">
											<ul class="pagination">
												<li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/chuyen-doi-trang-thai/1?trangThai=${trangThai}|}" aria-label="First"> <span aria-hidden="true">Đầu tiên</span>
												</a></li>
												<li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/chuyen-doi-trang-thai/*{page - 1}/?trangThai=${trangThai}|}" aria-label="Previous"> <span aria-hidden="true">Quay lại</span>
												</a></li>
												<th:block th:if="*{totalPages <= 10}">
													<li th:each="i :*{#numbers.sequence(1,totalPages)}" th:class="${khachHangDTO.page != i ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/chuyen-doi-trang-thai/${i}?trangThai=${trangThai}|}">[[${i}]]</a></li>
												</th:block>
												<th:block th:if="*{totalPages > 10}">
													<th:block th:if="*{page <= 5 || page > totalPages - 4}">
														<li th:each="i :*{#numbers.sequence(1,5)}" th:class="${khachHangDTO.page != i ? 'page-item' : 'page-item disabled'}"><a class="page-link"
														 th:href="@{|/admin/khach-hang/danh-sach/chuyen-doi-trang-thai/${i}?trangThai=${trangThai}|}">[[${i}]]</a></li>
														<a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/chuyen-doi-trang-thai/6?trangThai=${trangThai}|}">....</a>
														<li th:each="i :*{#numbers.sequence(totalPages - 4,totalPages)}" th:class="${khachHangDTO.page != i ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/chuyen-doi-trang-thai/${i}?trangThai=${trangThai}|}">[[${i}]]</a></li>
													</th:block>
												</th:block>
												<li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/chuyen-doi-trang-thai/*{page + 1}?trangThai=${trangThai}|}" aria-label="Next"> <span aria-hidden="true">Đi tiếp</span>
												</a></li>
												<li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/chuyen-doi-trang-thai/*{totalPages}?trangThai=${trangThai}|}" aria-label="Next"> <span aria-hidden="true">Cuối cùng</span>
												</a></li>
											</ul>
										</nav>
								</th:block>
							</th:block>
							<th:block th:if=" ${trangThai == null }">
								<th:block th:if="${soDienThoai != null }">
									<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/1?soDienThoai=${soDienThoai}|}" aria-label="First"> <span aria-hidden="true">Đầu tiên</span>
										</a></li>
										<li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/*{page - 1}/?soDienThoai=${soDienThoai}|}" aria-label="Previous"> <span aria-hidden="true">Quay lại</span>
										</a></li>
										<th:block th:if="*{totalPages <= 10}">
											<li th:each="i :*{#numbers.sequence(1,totalPages)}" th:class="${khachHangDTO.page != i ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/${i}?soDienThoai=${soDienThoai}|}">[[${i}]]</a></li>
										</th:block>
										<th:block th:if="*{totalPages > 10}">
											<th:block th:if="*{page <= 5 || page  > totalPages - 4}">
												<li th:each="i :*{#numbers.sequence(1,5)}" th:class="${khachHangDTO.page != i  ? 'page-item' : 'page-item disabled'}"><a class="page-link"
												 th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/${i}?soDienThoai=${soDienThoai}|}">[[${i}]]</a></li>
												<a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/6?soDienThoai=${soDienThoai}|}">....</a>
												<li th:each="i :*{#numbers.sequence(totalPages - 4,totalPages)}" th:class="${khachHangDTO.page != i  ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/${i}?soDienThoai=${soDienThoai}|}">[[${i}]]</a></li>
											</th:block>
										</th:block>
										<li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/*{page + 1}?soDienThoai=${soDienThoai}|}" aria-label="Next"> <span aria-hidden="true">Đi tiếp</span>
										</a></li>
										<li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/*{totalPages}?soDienThoai=${soDienThoai}|}" aria-label="Next"> <span aria-hidden="true">Cuối cùng</span>
										</a></li>
									</ul>
								</nav>
								</th:block>
								
							</th:block>
									<th:block th:if="${trangThai != null && soDienThoai != null}">
											<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/1?soDienThoai=${soDienThoai}&trangThai=${trangThai}|}" aria-label="First"> <span aria-hidden="true">Đầu tiên</span>
										</a></li>
										<li th:class="*{page > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/*{page - 1}/?soDienThoai=${soDienThoai}&trangThai=${trangThai}|}" aria-label="Previous"> <span aria-hidden="true">Quay lại</span>
										</a></li>
										<th:block th:if="*{totalPages <= 10}">
											<li th:each="i :*{#numbers.sequence(1,totalPages)}" th:class="${khachHangDTO.page != i ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/${i}?soDienThoai=${soDienThoai}&trangThai=${trangThai}|}">[[${i}]]</a></li>
										</th:block>
										<th:block th:if="*{totalPages > 10}">
											<th:block th:if="*{page <= 5 || page  > totalPages - 4}">
												<li th:each="i :*{#numbers.sequence(1,5)}" th:class="${khachHangDTO.page != i  ? 'page-item' : 'page-item disabled'}"><a class="page-link"
												 th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/${i}?soDienThoai=${soDienThoai}&trangThai=${trangThai}|}">[[${i}]]</a></li>
												<a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/6?soDienThoai=${soDienThoai}&trangThai=${trangThai}|}">....</a>
												<li th:each="i :*{#numbers.sequence(totalPages - 4,totalPages)}" th:class="${khachHangDTO.page != i  ? 'page-item' : 'page-item disabled'}">
												<a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/${i}?soDienThoai=${soDienThoai}&trangThai=${trangThai}|}">[[${i}]]</a></li>
											</th:block>
										</th:block>
										<li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}">
											<a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/*{page + 1}?soDienThoai=${soDienThoai}&trangThai=${trangThai}|}" aria-label="Next"> <span aria-hidden="true">Đi tiếp</span>
										</a></li>
										<li th:class="*{page < totalPages ? 'page-item' : 'page-item disabled'}">
										<a class="page-link" th:href="@{|/admin/khach-hang/danh-sach/tim-kiem/*{totalPages}?soDienThoai=${soDienThoai}&trangThai=${trangThai}|}" aria-label="Next"> <span aria-hidden="true">Cuối cùng</span>
										</a></li>
									</ul>
								</nav>
									</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>