.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;

}

.timKiem {
    flex-grow: 1;
    width: 500px; /* Giá trị width để thu nhỏ chiều rộng */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, background-color 0.3s; /* Thêm hiệu ứng chuyển đổi */
    outline: none;
    margin-bottom: 20px;
}

.timKiem:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search-button {
    background-color: #6c63ff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.create-invoice-button {
    background-color: #6c63ff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.search-button:hover,
.create-invoice-button:hover {
    background-color: #b3d7ff;
}

.fa-search {
    font-size: 18px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-primary, .action-button {
    background-color: #6c63ff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.action-button:hover, .btn-primary:hover {
    background-color: #b3d7ff;
}

.empty-cart {
    text-align: center;
    vertical-align: middle;
}

.empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.empty-content img {
    max-width: 100%;
    margin-bottom: 10px;
}

.empty-message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#modalSanPham .modal-dialog {
    max-width: 1400px;
    width: 1400px;
}

#modalSanPham .modal-content {
    height: 700px;
}