<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index}">

<head>
    <meta charset="UTF-8">
    <title>Hủy đơn hàng</title>
    <link rel="stylesheet" th:href="@{/admin/css/hoaDon/TrangThaiHoaDon/daHuy.css}">
    <script th:src="@{/admin/js/hoadon/TrangThaiHoaDon/daHuy.js}"></script>
</head>

<body>
<div class="container" layout:fragment="content">
    <div class="tab-buttons">
        <button class="tab-button" onclick="redirectToTatCaDon()">Tất cả đơn</button>
        <button class="tab-button" onclick="redirectToChoxacNhan()">Chờ xác nhận</button>
        <button class="tab-button" onclick="redirectToChoGiaoHang()">Chờ giao hàng</button>
        <button class="tab-button" onclick="redirectToDangGiao()">Đang giao</button>
        <button class="tab-button" onclick="redirectToDaGiao()">Đã giao</button>
        <button class="tab-button active" onclick="redirectToDahuy()">Đã hủy</button>
    </div>
    <h1>
        Đã hủy
    </h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." id="search-input-daHuy">
        <div class="input-group-append">
            <button class="btn btn-primary btnTimKiem" type="button" onclick="searchByIdDaHuy()">Tìm kiếm
            </button>
        </div>

        <input type="date" class="form-control" id="search-input-date-DaHuy">
        <button class="btn btn-primary" type="button" onclick="searchByCreationDateDaHuy()">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <table id="user-table-DaHuy" class="table">
        <thead>
        <tr>
            <th scope="col">Mã đơn</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Ngày tạo đơn</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hoaDon : ${DaHuy}">
            <th scope="row" th:text="${hoaDon.maDon}"></th>
            <td th:text="${hoaDon.khachHang.hoTen}"></td>
            <td th:text="${hoaDon.sdtNguoiNhan}"></td>
            <td th:text="${#dates.format(hoaDon.ngayTao, 'dd/MM/yyyy')}"></td>
            <td th:text="${hoaDon.tongTienHoaDon}"></td>
            <td th:text="${hoaDon.ghiChu}"></td>
            <td>
                <div class="button-group-a">
                    <div class="btn-group">
                        <a th:href="@{'/ChiTietHoaDon/DaHuy/hoa-don-id=' + ${hoaDon.id}}" class="btn btn-warning btn-sm"
                           type="submit">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <ul class="pagination" th:classappend="${pageDaHuy > 0} ? '' : 'pagination-empty'">
            <li th:each="pageNumber : ${#numbers.sequence(1, pageDaHuy)}">
                <a th:href="@{/admin/DonHang/DaHuyHang(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </div>
    <div class="alert alert-warning container mt-3 text-center" th:if="${#lists.isEmpty(DaHuy)}"
         style="background-color: transparent; border: none;">
        <span style="font-size: 1.2em;">Không có dữ liệu</span>
    </div>
</div>

</body>

</html>








