<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index}">

<head>
    <meta charset="UTF-8">
    <title>Tất cả đơn</title>
    <link rel="stylesheet" th:href="@{/admin/css/hoaDon/TrangThaiHoaDon/tatCaDon.css}">
    <script th:src="@{/admin/js/hoadon/TrangThaiHoaDon/tatCaDon.js}"></script>
</head>

<body>
<div class="container" layout:fragment="content">
    <div class="tab-buttons">
        <button class="tab-button active" onclick="redirectToTatCaDon()">Tất cả đơn</button>
        <button class="tab-button" onclick="redirectToChoxacNhan()">Chờ xác nhận</button>
        <button class="tab-button" onclick="redirectToChoGiaoHang()">Chờ giao hàng</button>
        <button class="tab-button" onclick="redirectToDangGiao()">Đang giao</button>
        <button class="tab-button" onclick="redirectToDaGiao()">Đã giao</button>
        <button class="tab-button" onclick="redirectToDahuy()">Đã hủy</button>
    </div>

    <h1>Tất cả đơn</h1>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." id="search-input-allFields">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="searchAllFields()">Tìm kiếm</button>
        </div>

        <input type="date" class="form-control" id="search-input-date-allHD">
        <button class="btn btn-primary" type="button" onclick="searchByCreationDateTatCaDon()">
            <i class="fas fa-search"></i>
        </button>

        <select id="filterStatus">
            <option value="">Tất cả</option>
            <option value="Chờ xác nhận">Chờ xác nhận</option>
            <option value="Chờ giao hàng">Chờ giao hàng</option>
            <option value="Đang giao hàng">Đang giao hàng</option>
            <option value="Đã giao">Đã giao</option>
            <option value="Đã hủy">Đã hủy</option>
        </select>
    </div>

    <table id="user-table-allHD" class="table">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th scope="col">Mã đơn</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Ngày tạo đơn</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Trạng thái đơn</th>
            <th scope="col">Xem chi tiết</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="hoaDon : ${getAllHoaDon}">
            <td class="bs-checkbox"><input data-index="0" name="btSelectItem" type="checkbox"></td>
            <th scope="row" th:text="${hoaDon.maDon}"></th>
            <td th:text="${hoaDon.khachHang.hoTen}"></td>
            <td th:text="${hoaDon.sdtNguoiNhan}"></td>
            <td th:text="${#dates.format(hoaDon.ngayTao, 'dd/MM/yyyy')}"></td>
            <td th:text="${hoaDon.tongTienHoaDon}"></td>
            <td th:text="${hoaDon.ghiChu}"></td>
            <td th:text="${hoaDon.trangThai.name}"></td>
            <td>
                <div class="button-group-a">
                    <!--XEM CHI TIẾT HÓA ĐƠN-->
                    <div class="btn-group">
                        <a th:href="@{'/ChiTietHoaDon/TatCaDon/hoa-don-id=' + ${hoaDon.id}}"
                           class="btn btn-warning btn-sm"
                           type="submit">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <ul class="pagination" th:classappend="${totalPages > 0} ? '' : 'pagination-empty'">
            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/admin/DonHang/TatCaDon(page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </div>
    <div class="alert alert-warning container mt-3" th:if="${#lists.isEmpty(getAllHoaDon)}">
        Không có dữ liệu
    </div>
</div>

</body>

</html>










