<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index}">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" th:href="@{/admin/css/nhanVien/nhanVien.css}">
    <script th:src="@{/admin/js/nhanVien/nhanVien.js}"></script>
</head>

<body>

<div class="container" layout:fragment="content">
    <h1>Nhân Viên</h1>
    <div class="vandai1">
        <!-- From tìm kiếm -->
        <form action="/admin/search" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tìm Kiếm..." id="search-input-allHD-name">
                <div class="search-input">
                    <button class="btn btn-primary" type="button" onclick="searchByCustomerNameAndPhoneAllHD()">
                        <i class="fas fa-search"></i>
                    </button>
                    <a href="/admin/NguoiDung" class="btn btn-secondary">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                </div>
            </div>
        </form>
        <!-- From tìm ngày tạo -->
        <form>
            <div class="input-group mb-3">
                <input type="date" class="form-control" id="search-input-allHD-date">
                <button class="btn btn-primary" type="button" onclick="searchByCreationDate()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <!-- From tìm Trạng thái -->
        <form>
            <div class=" mb-3">
                <label for="status">Trạng Thái:</label>
                <select id="status" onchange="filterByStatus()">
                    <option value="all">Tất Cả</option>
                    <option value="active">Đang Hoạt Động</option>
                    <option value="inactive">Không Hoạt Động</option>
                </select>
            </div>
        </form>
        <!-- From thêm -->
        <div class="mb-3">
            <a href="/NguoiDung/themMoi" class="btn btn-primary">
                <i class="fa fa-plus-circle bigger-110 purple"></i>
            </a>
        </div>

    </div>
    <table id="user-name-label" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Mã Nhân Viên</th>
            <th scope="col">Tên Nhân Viên</th>
            <th scope="col">Email</th>
            <th scope="col">Số Điện Thoại</th>
            <th scope="col">Ngày Tạo</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thao Tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:data-user-id="${user.id}">
            <td th:text="${user.maNguoiDung}"></td>
            <td th:text="${user.tenNguoiDung}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.soDienThoai}"></td>
            <td th:text="${#dates.format(user.ngayCapNhat, 'dd/MM/yyyy')}"></td>
            <td>
                <div class="btn-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" th:id="'trangThai-' + ${user.id}"
                               th:checked="${user.trangThai eq 0}">
                        <label class="custom-control-label" th:for="'trangThai-' + ${user.id}"></label>
                    </div>
                </div>
            </td>
            <td>
                <!-- From sửa -->
                <div class="btn-group">
                    <a th:href="@{'/chinhSua/' + ${user.id}}" class="btn btn-warning btn-sm" type="submit">
                        <i class="fas fa-edit text-primary"></i>
                    </a>
                </div>
                <!-- From xóa -->
                <div class="btn-group">
                    <a th:href="@{'/xoa/' + ${user.id}}" class="btn btn-danger btn-sm" type="submit">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
        </thead>
    </table>
    <!--From phân trang-->
    <div class="pagination-container">
        <div class="pagination">
            <ul>
                <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{/admin/NguoiDung(page=${pageNumber})}" th:text="${pageNumber}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

</body>

</html>
