<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Đăng nhập</title>
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/customer/css/font-awesome.min.css}" type="text/css">
<!--Fontawesome CDN-->
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.3.1/css/all.css}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/customer/login/style.css}" type="text/css">
<!-- Google Font -->
</head>
<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card" style="height: 300px">
				<div class="card-body">
					<th:block th:if="${message != null}">
						<i class="pull-left text-success" th:text="${message}"></i>
					</th:block>
					<th:block th:if="${messageError != null}">
						<i class="pull-left text-danger" th:text="${messageError}"></i>
					</th:block>
					<form th:action="@{/security/forgot-password/enter-code}" method="post" th:object="${khachHangDTO}">
						<div class="input-group  pt-3">
							<input type="text" class="form-control " th:field="*{codeSend}" placeholder="Nhập mã xác nhận"  /> 
							<a th:href="@{/security/forgot-password/sendCode}" class="m-2">Gửi lại mã</a>
						</div>
						<div class="input-group  pt-3">
							<input class="form-control " placeholder="Nhập mật khẩu" th:field="*{matKhau}" 
							 id="matKhau" type="password" />
						</div>
						<div class="input-group  pt-3">
							<input class="form-control rounded" placeholder="Xác nhận mật khẩu" th:field="*{matKhauXacNhan}"  type="password"  id="confirm_password" /> <span id='message'></span>
						</div>
						<button type="submit" class="btn btn-primary mt-3">Đổi mật khẩu</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/customer/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/customer/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$('#password, #confirm_password').on('keyup', function() {
			if ($('#password').val() == $('#confirm_password').val()) {
				$('#message').html('Hợp lệ ').css('color', 'green');
			} else
				$('#message').html('Chưa khớp').css('color', 'red');
		});
	</script>
</body>
</html>